<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <!--bootstrap-->
    <link type="text/css" href="../../plug/bootstrap/css/bootstrap.min.css">

    <!--jquery-->
    <!--<script type="text/javascript" src="../../plug/jquery/jquery.js"/>-->

    <!--angular-->
    <script src="../../plug/angularjs/angular.min.js"></script>

    <style>
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>
</head>
<body ng-app="loginApp">
<div class="container">
    <div  ng-controller="loginController" class="row">
        <span>用户名:</span><input type="text" ng-model="yourname" required/>
        <span>密码:</span><input type="text" ng-model="password" required/>
    </div>
</div>
<script>
    var app = angular.module('loginApp', []);
    app.controller('loginController', function ($scope) {

    });
</script>
</body>
</html>